attrs==26.1.0
in-toto-attestation==0.9.3
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
protobuf==7.36.2
referencing==0.37.0
rpds-py==2026.9.1
typing-extensions==4.16.0 ; python_full_version < '3.13'
